/* /bitrix/js/main/core/css/core_date.css?158808863110289 */


/* Start:/bitrix/js/main/core/css/core_date.css?158808863110289*/
.bx-calendar * {
	box-sizing: content-box; 
}

span.date-interval-hellip { width:20px; display:inline-block; text-align:center;}

img.calendar-icon {
	vertical-align: top;
	cursor: pointer;
	width: 17px;
	height: 18px;
	margin: 0 0 0 1px;
	box-sizing: content-box;
	border: 1px solid transparent;
	position: relative;
}

img.calendar-icon-hover {
	margin: 0;
	margin-left: 1px;
	border: 1px solid #aeb6c2;
	background-color: #dbe3f2
}

.bx-calendar {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; color:#000; width:200px;}
.bx-calendar-header {margin-top:-2px; padding-bottom:5px;}
.bx-calendar-left-arrow,
.bx-calendar-right-arrow {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat; border-radius:4px; display:inline-block; font-size:1px; height:28px; vertical-align:top; width:19px;cursor:pointer;}
.bx-calendar-left-arrow:hover,
.bx-calendar-right-arrow:hover {background-color:#ededed;}
.bx-calendar-left-arrow {background-position:7px -183px; margin-left:-3px; vertical-align:top;}
.bx-calendar-right-arrow {background-position:8px -205px;}
.bx-calendar-header-content{display:inline-block; text-align:center; width:165px;}
.bx-calendar-top-month,
.bx-calendar-top-year{background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat right -223px; color:#000!important; border-radius:3px; cursor:pointer; display:inline-block; font-size:16px; line-height:20px; text-decoration:none!important; margin:0 1px; padding:5px 15px 3px 7px;}
.bx-calendar-top-month:hover,
.bx-calendar-top-year:hover {background-color:#ededed; text-decoration:none;}

.bx-calendar-cell-block {
	overflow: hidden;
	position: relative;
	padding-bottom: 5px;
}

.bx-calendar-cell {display:inline-block; font-size:12px; line-height:15px; height:19px; margin:0 3px 0 2px; padding-top:4px; text-align:center; text-decoration:none; vertical-align:top; width:23px; cursor: pointer;}
.bx-calendar-cell {line-height:16px\9}
.bx-calendar-cell, .bx-calendar-cell:link, .bx-calendar-cell:active, .bx-calendar-cell:visited {color:#000; }
.bx-calendar-cell:hover {background-color:#eee; color:#000; text-decoration:none;}
.bx-calendar-name-day {display:inline-block; color:#a9a9a9; font-size:10px; height:13px; margin:0 3px 0 2px; padding-top:0; text-align:center; vertical-align:top; width:23px;}
.bx-calendar-range {border-bottom:1px solid #f3f2ed; margin:0 -5px 0 -7px; padding:1px 7px 1px 8px; position:relative; z-index:5;}
.bx-calendar-weekend, .bx-calendar-weekend:link, .bx-calendar-weekend:active, .bx-calendar-weekend:visited {color:#d25050; }
.bx-calendar-weekend:hover {color:#d25050;}
.bx-calendar-date-hidden, .bx-calendar-date-hidden:link, .bx-calendar-date-hidden:active, .bx-calendar-date-hidden:visited {color:#ccc;}
.bx-calendar-active {background-color:#dce3ea;}
.bx-calendar-active:hover {background-color:#dce3ea;}
.bx-calendar-name-day-wrap {background-color:#eee; height:12px; line-height:12px; padding:1px 7px 0 8px; position:relative; margin:0 -5px 3px -7px; z-index:5;}
.bx-calendar-range-noline {border:none;}

.bx-calendar-set-time-wrap {border-top:1px solid #f2f2f2; border-bottom:1px solid #f2f2f2; margin:-5px 3px 0 0; position:relative; text-decoration:none;}
.bx-calendar-set-time {cursor:pointer; font-size:11px; color:#b2b2b2!important; display:block; height:14px; margin-right:3px; text-align:center; padding:1px 0 0; text-decoration:none;}
.bx-calendar-set-time:hover {color:#8c8c8c!important; text-decoration:none!important;}

.bx-calendar-set-time-opened .bx-calendar-set-time {display: none;}
.bx-calendar-set-time-opened .bx-calendar-form-block {display: block;}

.bx-calendar-set-time {cursor:pointer; font-size:11px; color:#b2b2b2; height:14px; margin-right:3px; text-align:center; padding:1px 0 0;}
.bx-calendar-set-time i {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat 0 0; height:9px; display:inline-block; margin:2px 3px 0 0; vertical-align:top;  width:9px;}

.bx-calendar-button-block {padding:9px 0 8px; text-align: center;}
.bx-calendar-button {cursor:pointer; text-decoration:none; display:inline-block; vertical-align:top;}
.bx-calendar-button-select {margin-right:8px; text-align:right;}
.bx-calendar-button-left,
.bx-calendar-button-right {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat; display:inline-block; vertical-align:top; height:23px; width:4px;}
.bx-calendar-button-text {background:url("/bitrix/js/main/core/images/calendar-sprite.png") repeat-x 0 -99px; color:#000; display:inline-block; height:19px; font-size:12px; line-height:16px; vertical-align:top; padding:4px 10px 0; }
.bx-calendar-button-left {background-position:0 -45px;}
.bx-calendar-button-right {background-position:-5px -45px;}
.bx-calendar-button:hover .bx-calendar-button-left {background-position:0 -15px;}
.bx-calendar-button:hover .bx-calendar-button-right {background-position:-5px -15px;}
.bx-calendar-button:hover .bx-calendar-button-text {background-position:0 -74px;}
.bx-calendar-button:active .bx-calendar-button-text {background-position:0 -74px;}

.bx-calendar-form-block {display:none;}
.bx-calendar-form-text {display:inline-block; color:#a6a6a6; font-size:11px; margin-top:10px; padding:0 0 0 5px; vertical-align:top; width:38px;}
.bx-calendar-form {display:inline-block; vertical-align:top;}
.bx-calendar-form-arrow-l,
.bx-calendar-form-arrow-r {display:inline-block; vertical-align:top;}
.bx-calendar-form-arrow-l {margin-left:2px;}
.bx-calendar-form-arrow-top,
.bx-calendar-form-arrow-bottom {display:block; height:17px; width:15px;}
.bx-calendar-form-arrow-top {padding-top:4px; height:14px;}
.bx-calendar-form-arrow-l .bx-calendar-form-arrow-top,
.bx-calendar-form-arrow-l .bx-calendar-form-arrow-bottom {padding-left:5px;}
.bx-calendar-form-arrow-r .bx-calendar-form-arrow-top,
.bx-calendar-form-arrow-r .bx-calendar-form-arrow-bottom {padding-left:1px; padding-right:5px;}
.bx-calendar-form-arrow-top i,
.bx-calendar-form-arrow-bottom i {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat; display:block; height:13px; width:14px;}
.bx-calendar-form-arrow-top i {background-position:4px -125px;}
.bx-calendar-form-arrow-bottom i {background-position:4px -137px;}
.bx-calendar-form-arrow-top:hover i {background-position:4px -275px; background-color:#f2f2f2;}
.bx-calendar-form-arrow-bottom:hover i {background-position:4px -286px; background-color:#f2f2f2;}

.bx-calendar-form-input {
	background:#fff;
	border:1px solid #d1d1d1;
	box-shadow:inset 1px 1px 0 #f7f7f7;
	display:inline-block;
	height:21px;
	margin-top:6px;
	font-size:15px;
	text-align:center;
	padding:0;
	vertical-align:top;
	width:28px;
}

.bx-calendar-form-separator {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat 0 -246px; color:#aaa; display:inline-block; height:23px; font-size:14px; font-weight:bold; text-align:center; padding-top:7px; vertical-align:top; width:8px;}
.bx-calendar-form-close {display:block; font-size:1px; right:-8px; top:0; height:35px; position:absolute; width:20px;}
.bx-calendar-form-close i {background:url("/bitrix/js/main/core/images/calendar-sprite.png") no-repeat 4px -151px; display:block; height:15px; margin:10px 0 0; width:15px;}
.bx-calendar-form-close:hover i {background-position:4px -169px; background-color:#e8e8e8;}

.bx-calendar-AM-PM-block {cursor:pointer; display:inline-block; margin-left:-4px; vertical-align:top;}
.bx-calendar-AM-PM-text {display:inline-block; color:#333; margin-top:11px; vertical-align:top; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:13px; line-height:15px; text-transform:uppercase;}
.bx-calendar-AM-PM-block .bx-calendar-form-arrow-r {width:19px;}

.bx-calendar-year-popup { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top:-2px; padding-bottom:7px; width:45px;}
.bx-calendar-month-popup{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top:-2px; padding-bottom:7px; width:85px;}
.bx-calendar-year-title,
.bx-calendar-month-title {color:#000; font-size:16px; line-height:20px; padding-bottom:5px;}
.bx-calendar-year-content,
.bx-calendar-month-content {color:#000; border-top:1px solid #e5e5e5; font-size:13px; padding:5px 0 0 2px;}
.bx-calendar-year-number,
.bx-calendar-month {display:block; border-radius:3px; cursor:pointer; margin:0 0 2px -5px; text-decoration:none!important; padding:2px 0 2px 4px;}
.bx-calendar-month, .bx-calendar-month:link, .bx-calendar-month:active, .bx-calendar-month:visited, .bx-calendar-year-number, .bx-calendar-year-number:link, .bx-calendar-year-number:active, .bx-calendar-year-number:visited {color: #000}
.bx-calendar-month:hover, .bx-calendar-year-number:hover {background-color:#ededed; text-decoration:none;}

.bx-calendar-month-active,
.bx-calendar-month-active:link,
.bx-calendar-month-active:active,
.bx-calendar-month-active:visited,
.bx-calendar-year-active,
.bx-calendar-year-active:link,
.bx-calendar-year-active:active,
.bx-calendar-year-active:visited { color: #ca0707; }

.bx-calendar-year-input,
.bx-calendar-month-input {
	background:#fff;
	border:1px solid #b5b5b5;
	border-radius:2px;
	box-shadow:inset 2px 2px 1px #ededed;
	height:19px;
	margin-top:10px;
	font-size:16px;
	text-align:center;
	width:41px;
}

.bx-calendar-time-disabled .bx-calendar-button-block,
.bx-calendar-time-disabled .bx-calendar-set-time-wrap {display: none;}

* html .bx-calendar-month-title,
* html .bx-calendar-year-title {margin-top:-2px;}
* html .bx-calendar-month-popup,
* html .bx-calendar-year-popup {margin-left:-2px;}
* + html .bx-calendar-month-title,
* + html .bx-calendar-year-title {margin-top:-2px;}
* + html .bx-calendar-month-popup,
* + html .bx-calendar-year-popup {margin-left:-2px;}
* + html .bx-calendar-form-input {padding-top:4px; height:17px;}
* html .bx-calendar-button-text {height:23px;}
* html .bx-calendar-name-day {padding-top:3px;}
* html .bx-calendar-cell {height:23px;}
* html .bx-calendar-form-arrow-top,
* html .bx-calendar-form-arrow-bottom {font-size:0;}
* html .bx-calendar-form-arrow-top,
* html .bx-calendar-form-arrow-bottom {width:20px;}
* html .bx-calendar-button-text {padding-top:3px;}
* html .bx-calendar-left-arrow,
* html .bx-calendar-right-arrow {width:17px; margin-left:0;}
* html .bx-calendar-form-text {width:46px;}

/* End */
